# Visualização de Dados e Informações - Prática #03 

### Adinan Alves de Brito Filho
### Priscila Cristina de Souza Mizukami Rocha

In [1]:
#Importando pacotes
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import chardet

## Questão 2

In [2]:
with open('VIS_Pr_03_hungry_in_the_world.csv', 'rb') as f:
    result = chardet.detect(f.read())
    
csv_encoding = result['encoding']

### Limpeza de dados

In [3]:
# Lê csv e transforma em um dataframe 
df = pd.read_csv('VIS_Pr_03_hungry_in_the_world.csv', encoding=csv_encoding)
df

,Country,2000,2007,2014,2022,Absolute change since 2014,Percent change sice 2014
0,Belarus,<5,<5,<5,<5,0.0,0
1,Bosnia and Herzegovina,9.3,6.6,<5,<5,0.0,0
2,Chile,<5,<5,<5,<5,0.0,0
3,China,13.3,7.8,<5,<5,0.0,0
4,Croatia,<5,<5,<5,<5,0.0,0
...,...,...,...,...,...,...,...
124,Yemen,41.3,38.4,41.7,45.1,3.4,8.2
125,Burundi,99,99,99,49.935-49.9,0.0,0
126,Somalia,99,99,99,49.935-49.9,0.0,0
127,South Sudan,99,99,99,49.935-49.9,0.0,0
128,Syria,99,99,99,49.935-49.9,0.0,0

In [4]:
df = df.replace(['<5'], 5)
df = df.drop(df[df['2022'] == '49.935-49.9'].index)
df = df.drop(df[df['2022'] == '34.920ﾖ34.9'].index)
df

,Country,2000,2007,2014,2022,Absolute change since 2014,Percent change sice 2014
0,Belarus,5,5,5,5,0.0,0
1,Bosnia and Herzegovina,9.3,6.6,5,5,0.0,0
2,Chile,5,5,5,5,0.0,0
3,China,13.3,7.8,5,5,0.0,0
4,Croatia,5,5,5,5,0.0,0
...,...,...,...,...,...,...,...
120,Chad,50.7,49,40.7,37.2,-3.5,-8.6
121,Congo,48,43.2,38.7,37.8,-0.9,-2.3
122,Madagascar,42.5,37.2,37.3,38.7,1.4,3.8
123,Central African Republic,48.8,46.8,44.6,44,-0.6,-1.3
124,Yemen,41.3,38.4,41.7,45.1,3.4,8.2

In [5]:
df = df.astype({'2000': np.float64, '2007': np.float64, '2014': np.float64, '2022': np.float64})

In [6]:
df = df.astype({'Percent change sice 2014': np.float64})

ValueError: could not convert string to float: '.7.5'

In [7]:
search_index = df[df['Percent change sice 2014'] == '.7.5'].iloc[0].name
df.loc[search_index, 'Percent change sice 2014'] = -7.5

df = df.astype({'Percent change sice 2014': np.float64})

ValueError: could not convert string to float: '10..6'

In [8]:
search_index = df[df['Percent change sice 2014'] == '10..6'].iloc[0].name
df.loc[search_index, 'Percent change sice 2014'] = 10.6

df = df.astype({'Percent change sice 2014': np.float64})

In [9]:
print(df['Country'].to_list())

['Belarus', 'Bosnia and Herzegovina', 'Chile', 'China', 'Croatia', 'Estonia', 'Hungary', 'Kuwait', 'Latvia', 'Lithuania', 'Montenegro', 'North Macedonia', 'Romania', 'Serbia', 'Slovakia', 'Tu?rkiye', 'Uruguay', 'Costa Rica', 'United Arab Emirates', 'Brazil', 'Uzbekistan', 'Georgia', 'Mongolia', 'Bulgaria', 'Kazakhstan', 'Tunisia', 'Albania', 'Russian Federation', 'Iran', 'Saudi Arabia', 'Argentina', 'Algeria', 'Armenia', 'Moldova', 'Jamaica', 'Azerbaijan', 'Ukraine', 'Colombia', 'Peru', 'Kyrgyzstan', 'Paraguay', 'Mexico', 'Panama', 'El Salvador', 'Dominican Republic', 'Trinidad and Tobago', 'Fiji', 'Morocco', 'Turkmenistan', 'Suriname', 'Guyana', 'Lebanon', 'Jordan', 'Cabo Verde', 'Viet Nam', 'Thailand', 'Egypt', 'Malaysia', 'South Africa', 'Oman', 'Bolivia', 'Honduras', 'Mauritius', 'Nicaragua', 'Sri Lanka', 'Iraq', 'Ghana', 'Tajikistan', 'Philippines', 'Ecuador', 'Myanmar', 'Senegal', 'Eswatini', "C�te d'Ivoire", 'Cambodia', 'Gabon', 'Indonesia', 'Namibia', 'Guatemala', 'Cameroon', 'Nepal', 'Lao', 'Solomon Islands', 'Bangladesh', 'Venezuela', 'Botswana', 'Gambia', 'Malawi', 'Mauritania', 'Djibouti', 'Benin', 'Togo', 'Mali', 'Kenya', 'Tanzania', 'Burkina Faso', 'Korea', 'Angola', 'Pakistan', 'Papua New Guinea', 'Comoros', 'Rwanda', 'Nigeria', 'Ethiopia', 'Congo', 'Sudan', 'India', 'Zambia', 'Afghanistan', 'Timor-Leste', 'Guinea-Bissau', 'Sierra Leone', 'Lesotho', 'Liberia', 'Niger', 'Haiti', 'Chad', 'Congo', 'Madagascar', 'Central African Republic', 'Yemen']

In [10]:
search_index = df[df['Country'] == "C�te d'Ivoire"].iloc[0].name
df.loc[search_index, 'Country'] = "Côte d'Ivoire"

search_index = df[df['Country'] == "Tu?rkiye"].iloc[0].name
df.loc[search_index, 'Country'] = "Türkiye"

### Cálculo do percentual acumulado

In [11]:
df['2000-2007'] = (df['2007'] /df['2000']) - 1
df['2007-2014'] = (df['2014']/df['2007']) - 1
df['2014-2022'] = (df['2022']/df['2014']) - 1

print('\
    Taxa = 0: Não houve alteração no GHI no período de tempo analisado\n\
    Taxa > 0: Houve melhora no GHI\n\
    Taxa < 0: Houve piora no GHI')

    Taxa = 0: Não houve alteração no GHI no período de tempo analisado
    Taxa > 0: Houve melhora no GHI
    Taxa < 0: Houve piora no GHI

In [12]:
df

,Country,2000,2007,2014,2022,Absolute change since 2014,Percent change sice 2014,2000-2007,2007-2014,2014-2022
0,Belarus,5.0,5.0,5.0,5.0,0.0,0.0,0.000000,0.000000,0.000000
1,Bosnia and Herzegovina,9.3,6.6,5.0,5.0,0.0,0.0,-0.290323,-0.242424,0.000000
2,Chile,5.0,5.0,5.0,5.0,0.0,0.0,0.000000,0.000000,0.000000
3,China,13.3,7.8,5.0,5.0,0.0,0.0,-0.413534,-0.358974,0.000000
4,Croatia,5.0,5.0,5.0,5.0,0.0,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
120,Chad,50.7,49.0,40.7,37.2,-3.5,-8.6,-0.033531,-0.169388,-0.085995
121,Congo,48.0,43.2,38.7,37.8,-0.9,-2.3,-0.100000,-0.104167,-0.023256
122,Madagascar,42.5,37.2,37.3,38.7,1.4,3.8,-0.124706,0.002688,0.037534
123,Central African Republic,48.8,46.8,44.6,44.0,-0.6,-1.3,-0.040984,-0.047009,-0.013453
124,Yemen,41.3,38.4,41.7,45.1,3.4,8.2,-0.070218,0.085938,0.081535

In [13]:
df['2000-2022'] = ((1 + df['2000-2007']) * (1 + df['2007-2014']) * (1 + df['2014-2022'])) - 1
df

,Country,2000,2007,2014,2022,Absolute change since 2014,Percent change sice 2014,2000-2007,2007-2014,2014-2022,2000-2022
0,Belarus,5.0,5.0,5.0,5.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,Bosnia and Herzegovina,9.3,6.6,5.0,5.0,0.0,0.0,-0.290323,-0.242424,0.000000,-0.462366
2,Chile,5.0,5.0,5.0,5.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,China,13.3,7.8,5.0,5.0,0.0,0.0,-0.413534,-0.358974,0.000000,-0.624060
4,Croatia,5.0,5.0,5.0,5.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
120,Chad,50.7,49.0,40.7,37.2,-3.5,-8.6,-0.033531,-0.169388,-0.085995,-0.266272
121,Congo,48.0,43.2,38.7,37.8,-0.9,-2.3,-0.100000,-0.104167,-0.023256,-0.212500
122,Madagascar,42.5,37.2,37.3,38.7,1.4,3.8,-0.124706,0.002688,0.037534,-0.089412
123,Central African Republic,48.8,46.8,44.6,44.0,-0.6,-1.3,-0.040984,-0.047009,-0.013453,-0.098361
124,Yemen,41.3,38.4,41.7,45.1,3.4,8.2,-0.070218,0.085938,0.081535,0.092010

In [14]:
search_index = df[df['Country'] == "Côte d'Ivoire"].iloc[0].name
df.loc[search_index, 'Country'] = "Ivory Coast"

search_index = df[df['Country'] == "Türkiye"].iloc[0].name
df.loc[search_index, 'Country'] = "Turkey"

search_index = df[df['Country'] == "Lao"].iloc[0].name
df.loc[search_index, 'Country'] = "Laos"

search_index = df[df['Country'] == "Korea"].iloc[0].name
df.loc[search_index, 'Country'] = "North Korea"

In [15]:
import pycountry_convert as pcountry

def get_continent_code(row):
    country_code = pcountry.country_name_to_country_alpha2(row.Country, cn_name_format='default')
    if country_code == 'TL':
        return 'Timor-Leste'
    return pcountry.country_alpha2_to_continent_code(country_code)

def get_continent_name(row):
    if row.Continent == 'Timor-Leste':
        return 'Asia'
    return pcountry.convert_continent_code_to_continent_name(row.Continent)

In [16]:
df['Continent'] = df.apply(get_continent_code, axis=1)
df['Continent'] = df.apply(get_continent_name, axis=1)
df

,Country,2000,2007,2014,2022,Absolute change since 2014,Percent change sice 2014,2000-2007,2007-2014,2014-2022,2000-2022,Continent
0,Belarus,5.0,5.0,5.0,5.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,Europe
1,Bosnia and Herzegovina,9.3,6.6,5.0,5.0,0.0,0.0,-0.290323,-0.242424,0.000000,-0.462366,Europe
2,Chile,5.0,5.0,5.0,5.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,South America
3,China,13.3,7.8,5.0,5.0,0.0,0.0,-0.413534,-0.358974,0.000000,-0.624060,Asia
4,Croatia,5.0,5.0,5.0,5.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
120,Chad,50.7,49.0,40.7,37.2,-3.5,-8.6,-0.033531,-0.169388,-0.085995,-0.266272,Africa
121,Congo,48.0,43.2,38.7,37.8,-0.9,-2.3,-0.100000,-0.104167,-0.023256,-0.212500,Africa
122,Madagascar,42.5,37.2,37.3,38.7,1.4,3.8,-0.124706,0.002688,0.037534,-0.089412,Africa
123,Central African Republic,48.8,46.8,44.6,44.0,-0.6,-1.3,-0.040984,-0.047009,-0.013453,-0.098361,Africa
124,Yemen,41.3,38.4,41.7,45.1,3.4,8.2,-0.070218,0.085938,0.081535,0.092010,Asia

In [17]:
df.to_excel('Pr_03_GHI_clean.xlsx')